* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	/* background-color: rgba(0, 0, 0, 0.9); */
	color: white;
	/* background-image: url(../img/bg.jpg); */
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
div {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: fit-content;
	margin: auto;
	border-radius: 50px;
}

object {
	width: 100%;
	height: 100vh;
}

button:hover {
	font-weight: bold;
	box-shadow: 2px 3px 10px 6px rgba(255, 255, 255, 0.5);
}
